___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="Rossum"></p>

In this assignment you will start off with Numpy Exercises and then complete the whole Exercise with Pandas questions. All the subjects related to questions here already covered in preclass materials and in-class sessions. So good luck!

#### 1. Import NumPy Library

In [1]:
import numpy as np

#### 2. Create an array from my_list=[5,10,15,20,25]

In [2]:
my_list=[5,10,15,20,25]

array = np.array(my_list)

print(array)

[ 5 10 15 20 25]

#### 3. Generate an array 5x5 zeros

In [3]:
zeros = np.zeros((5,5))
zeros

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

#### 4. Generate an array 4x4 ones assign data type int

In [4]:
ones = np.ones((4,4), dtype = int)
print(ones)

[[1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]]

#### 5. Make all the values of the array above 7

In [2]:
array = np.arange(16).reshape(4,4)
array[:]=7
array

array([[7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7]])

#### 6. Create same array above with full method

In [6]:
array = np.full((4,4),7)
array

array([[7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7]])

#### 7. Create an array of even integers from 2 to 16

In [3]:
array =np.arange(2,17,2, dtype=int)
array

array([ 2,  4,  6,  8, 10, 12, 14, 16])

#### 8. Create a 5x5 matrix with values between 0 to 25

In [8]:
array = np.arange(25).reshape(5,5)
print(array)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

#### 9. Create a 5x5 matrix with values between 0 to 25 using linspace

In [9]:
array = np.linspace(0, 24, num=25, dtype = int).reshape(5,5)
array

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

#### 10. Create 5 random number with numpy

In [10]:
array = np.random.random(5)
array

array([0.30071136, 0.81186933, 0.47521219, 0.18438364, 0.29731887])

#### 11. Create random normal distributed 5x5 array

In [11]:
array = np.random.normal(1, size=(5, 5))
array

array([[ 0.95111939, -0.78926401,  1.13977918,  0.75506173,  0.85264484],
       [ 2.36939978,  1.96634102, -1.59299162,  0.12408335,  0.74643313],
       [ 2.42255236,  2.51439813,  0.77817687, -0.52394954, -0.2918269 ],
       [ 0.31462511,  0.94208406,  0.46767379,  1.76747167,  0.07147628],
       [ 3.07467495,  1.19253682,  3.03581973,  1.89063426, -1.51567975]])

#### 12. Create 3x4 shaped array with random int numbers between 20 and 50 with numpy

In [4]:
np.random.randint(20,50,size=(3,4))

array([[36, 46, 40, 41],
       [41, 23, 38, 29],
       [29, 27, 35, 36]])

#### 13. Reshape the array below with shape 6x8

In [12]:
ranarr = np.random.randint(0, 60, 48)

In [13]:
ranarr = np.random.randint(0, 60, 48).reshape(6,8)
ranarr

array([[47,  8, 40, 59, 51, 55,  6, 19],
       [18, 20, 10, 27, 20, 28,  3, 33],
       [ 5, 37,  9, 38, 25,  7, 58, 32],
       [19, 15, 37, 10, 48, 57, 51, 12],
       [27, 28, 41, 56, 39, 27, 48, 53],
       [59, 32, 56, 48, 56, 34, 49, 21]])

In [14]:
ranarr = np.random.randint(0, 60, 48).reshape(6,-1)
ranarr

array([[ 2, 11, 59, 35, 27, 43, 48,  3],
       [33, 19, 40, 35, 17, 23, 27, 18],
       [39,  7, 58, 33,  3, 45,  2,  0],
       [ 9, 46, 37, 31, 48, 38, 17, 58],
       [25, 25, 33, 45, 37, 27,  1, 12],
       [42,  4, 43, 28, 18, 40, 52, 22]])

## Numpy Indexing and Selection

In [6]:
#Create array below
array = np.arange(1,17).reshape(4,4)
array

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

#### 14. Write code that reproduces the output shown below.<br>

In [7]:
array[1:3,1:3]

array([[ 6,  7],
       [10, 11]])

#### 15. Get the first column of the array.

In [8]:
array[:,0]

array([ 1,  5,  9, 13])

#### 16. Get the values in 2nd row for every 2 step.

In [9]:
array[1,0::2]

array([5, 7])

#### 17.Assign 77 to every cell in 3rd column.

In [10]:
array[:,2] = 77
array

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

#### 18. Take 1st row 0 column, 3th row 2nd column.

In [11]:
array[1,::2]

array([ 5, 77])

#### 19. Take between 2nd and last row with step 2 and between 1 and last column with step 2.

In [12]:
array[1::2,::2]

array([[ 5, 77],
       [13, 77]])

## NumPy Operations

#### 20. Get the sum of values smaller than 10 and values bigger than 12 from array above

In [22]:
array

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

In [23]:
sum_array = array[array<10] 
sum_array

array([1, 2, 4, 5, 6, 8, 9])

In [24]:
sum_array1 = array[array>12] 
sum_array1

array([77, 77, 77, 13, 14, 77, 16])

In [25]:
total_array = sum_array + sum_array1
total_array

array([78, 79, 81, 18, 20, 85, 25])

#### 21. Get the standard deviation of the result above

In [26]:
np.std(total_array)

29.700546274093877

#### 22. Get the sum of second column from array above

In [27]:
array

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

In [28]:
sum(array[:,1])

32

#### 23. Get the median,mean and std of 3rd column from array above

In [24]:
new = np.arange(1,17).reshape(4,4)
new

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [25]:
#median
np.median(new[:,2])

9.0

In [27]:
#mean
np.median(new[:,2])

9.0

In [31]:
#std
np.std(new[:,2])

4.47213595499958

# Pandas Section

In [33]:
import pandas as pd

**Read Salaries.csv take a look at first 5 rows, df info and df statistical measurements**

In [35]:
df = pd.read_csv("Salaries.csv")

In [34]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [36]:
df.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448841,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

**How many different year value are there**

In [37]:
df.value_counts("Year")

Year
2014    38123
2013    37606
2012    36766
2011    36159
dtype: int64

**Print out max and avg Totalpay**

In [38]:
#max
max(df["TotalPay"])

567595.43

In [39]:
#avg
df["TotalPay"].mean()

74768.321971703

**How many records are there which have TotalPay bigger than avg TotalPay**

In [56]:
a = df["TotalPay"].mean()

(df.TotalPay>a).sum()

69489

**How much does ALBERT PARDINI make (including benefits)?**

In [58]:
df.TotalPayBenefits[df.EmployeeName =="ALBERT PARDINI"]

2    335279.91
Name: TotalPayBenefits, dtype: float64

**Who is lowest paid person**

In [59]:
df.EmployeeName[df.TotalPay.argmin()]

'Joe Lopez'

**What are the unique Jobs in dataset?**

In [57]:
df["JobTitle"].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

**List 3 least common Jobs**

In [38]:
df["JobTitle"].value_counts().tail(3)

Senior Maintenance Controller                    1
PAINTER SUPERVISOR II                            1
AIRPORT ASSISTANT DEPUTY DIRECTOR, OPERATIONS    1
Name: JobTitle, dtype: int64

**How many people earned more than avg in 2012**

In [41]:
df.Id[(df['Year']==2012)&(df['TotalPayBenefits']>df['TotalPayBenefits'].mean())].count()

20366

**How many people have the word Manager in their job title?**

In [40]:
def jobtitle(job_title):    
    if 'manager' in job_title.lower():
        return True
    else:
        return False

sum(df['JobTitle'].apply(lambda x: jobtitle(x)))

4110

**Take Id,EmployeeName,JobTitle,TotalPay and TotalPayBenefits columns with iloc and assign it as sal_new dataframe**

In [46]:
sal_new=df.iloc[:,[0,1,2,7,8]]
sal_new

,Id,EmployeeName,JobTitle,TotalPay,TotalPayBenefits
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43,567595.43
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),538909.28,538909.28
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),335279.91,335279.91
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,332343.61,332343.61
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",326373.19,326373.19
...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00
148650,148651,Not provided,Not provided,0.00,0.00
148651,148652,Not provided,Not provided,0.00,0.00
148652,148653,Not provided,Not provided,0.00,0.00
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",-618.13,-618.13

**Take columns betweeen EmployeeName and TotalPayBenefits with loc and assign it o sal_new df**

In [47]:
sal_new = df.loc[:,"EmployeeName":"TotalPayBenefits"]
sal_new

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19
...,...,...,...,...,...,...,...,...
148649,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00
148650,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00
148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00
148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00
148653,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13

**Print out the names of the employees who earn more than min, but less than avg**

In [39]:
df['EmployeeName'][(df['TotalPayBenefits'] > df['TotalPayBenefits'].min()) & (df['TotalPay'] < df['TotalPay'].mean())]

15847     TATYANA ROTENBERG
15848           WINSTON HOM
15849          CRAIG RIGLER
15850             WENDY TAN
15851        KENNETH BREWER
                ...
148648          Leon Walker
148649        Roy I Tillery
148650         Not provided
148651         Not provided
148652         Not provided
Name: EmployeeName, Length: 79164, dtype: object