In [ ]:
create two  pandas dataframe and merge them.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame({'id':[8,9],
                    'X': [40,42],
                    'Y': [1.9,2.9]}, index=None)
df1

   id   X    Y
0   8  40  1.9
1   9  42  2.9

In [3]:
df2 = pd.DataFrame({'id':[8,8,8,9,9,9],
                    'signal': [55,56,45,66,77,44]})
df2

   id  signal
0   8      55
1   8      56
2   8      45
3   9      66
4   9      77
5   9      44

In [5]:
mrg = pd.merge(df1, df2, on="id")
mrg

   id   X    Y  signal
0   8  40  1.9      55
1   8  40  1.9      56
2   8  40  1.9      45
3   9  42  2.9      66
4   9  42  2.9      77
5   9  42  2.9      44