In [ ]:
create a dataframe and use mask to filter data.

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(5)
df = pd.DataFrame(np.random.randint(100, size=(5, 5)), columns = list("ABCDE"), 
                  index = ["R" + str(i) for i in range(5)])
df

     A   B   C   D   E
R0  99  78  61  16  73
R1   8  62  27  30  80
R2   7  76  15  53  80
R3  27  44  77  75  65
R4  47  30  84  86  18

In [4]:
mask = df["A"]>10
mask

R0     True
R1    False
R2    False
R3     True
R4     True
Name: A, dtype: bool

In [5]:
df[mask]

     A   B   C   D   E
R0  99  78  61  16  73
R3  27  44  77  75  65
R4  47  30  84  86  18