In [ ]:
create a pndas DataFrame and calculate columns statics of  min, median  and max.

In [16]:
import pandas as pd
import numpy as np

df=pd.DataFrame({"key1":list("ABCDE")*2,
                 "data2":range(10),
                 "data3":np.arange(10)})
print(df)

  key1  data2  data3
0    A      0      0
1    B      1      1
2    C      2      2
3    D      3      3
4    E      4      4
5    A      5      5
6    B      6      6
7    C      7      7
8    D      8      8
9    E      9      9

In [19]:
df.agg(["min",np.median,"max"])

       key1  data2  data3
min       A    0.0    0.0
max       E    9.0    9.0
median  NaN    4.5    4.5

In [25]:
##second solution

df.groupby(["key1"]).agg(["min",np.median,"max"])

     data2            data3
       min median max   min median max
key1
A        0    2.5   5     0    2.5   5
B        1    3.5   6     1    3.5   6
C        2    4.5   7     2    4.5   7
D        3    5.5   8     3    5.5   8
E        4    6.5   9     4    6.5   9