In [ ]:
create a pandas series object and show values.

In [1]:
import pandas as pd

In [2]:
obj=pd.Series([1, "John", 3.5,"Hey"])
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [3]:
obj.values

array([1, 'John', 3.5, 'Hey'], dtype=object)