In [1]:
import pandas as pd
df =pd.read_csv("Automobile_data.csv")

In [4]:
df.company.value_counts()

toyota           7
bmw              6
mazda            5
nissan           5
volkswagen       4
audi             4
mercedes-benz    4
mitsubishi       4
honda            3
porsche          3
chevrolet        3
alfa-romero      3
isuzu            3
jaguar           3
volvo            2
dodge            2
Name: company, dtype: int64