In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv("startup_funding.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sr No              3044 non-null   int64
 1   Date dd/mm/yyyy    3044 non-null   object
 2   Startup Name       3044 non-null   object
 3   Industry Vertical  2873 non-null   object
 4   SubVertical        2108 non-null   object
 5   City  Location     2864 non-null   object
 6   Investors Name     3020 non-null   object
 7   InvestmentnType    3040 non-null   object
 8   Amount in USD      2084 non-null   object
 9   Remarks            419 non-null    object
dtypes: int64(1), object(9)
memory usage: 237.9+ KB

In [7]:
df.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [8]:
df.shape

(3044, 10)

In [10]:
df.rename(columns={'Date dd/mm/yyyy':'Date'}, inplace=True)

In [11]:
df.isnull().sum()

Sr No                   0
Date                    0
Startup Name            0
Industry Vertical     171
SubVertical           936
City  Location        180
Investors Name         24
InvestmentnType         4
Amount in USD         960
Remarks              2625
dtype: int64

In [21]:
df["Date"].value_counts()

02/02/2015    11
08/07/2015    11
30/11/2016    11
04/10/2016    10
23/07/2015     9
              ..
29/04/2018     1
03/03/2018     1
31/10/2015     1
03/02/2017     1
31/01/2015     1
Name: Date, Length: 1035, dtype: int64

In [12]:
df["Startup Name"].value_counts()

Ola Cabs            8
Swiggy              8
Paytm               7
Meesho              6
Nykaa               6
                   ..
ChipperSage         1
CRON Systems        1
SmartHi             1
MessaGif            1
couponmachine.in    1
Name: Startup Name, Length: 2459, dtype: int64

In [13]:
df["Industry Vertical"].value_counts()

Consumer Internet                        941
Technology                               478
eCommerce                                186
Healthcare                                70
Finance                                   62
                                        ...
Developer Portfolio Showcase platform      1
Doctors Network Mobile App                 1
End-to-End Lending platform                1
on-demand healthcare marketplace           1
Online Travel Marketplace                  1
Name: Industry Vertical, Length: 821, dtype: int64

In [14]:
df["SubVertical"].value_counts()

Online Lending Platform                       11
Online Pharmacy                               10
Food Delivery Platform                         8
Online Education Platform                      5
Education                                      5
                                              ..
CSR and sustainability management platform     1
Location tracking solutions                    1
Online insurance brokerage platform            1
Online rooms aggregation platform              1
Interior Design Marketplace                    1
Name: SubVertical, Length: 1942, dtype: int64

In [15]:
df["City  Location"].value_counts()

Bangalore             700
Mumbai                567
New Delhi             421
Gurgaon               287
Bengaluru             141
                     ...
Delhi & Cambridge       1
Bhubneswar              1
Srinagar                1
Rourkela                1
Dallas / Hyderabad      1
Name: City  Location, Length: 112, dtype: int64

In [16]:
df["Investors Name"].value_counts()

Undisclosed Investors                                        39
Undisclosed investors                                        30
Ratan Tata                                                   25
Indian Angel Network                                         23
Kalaari Capital                                              16
                                                             ..
Intex Technologies                                            1
Samridhi Fund                                                 1
Malini Patel, Stelcore Management Services, Anjani Prasad     1
Om Chaudhry                                                   1
UK based Group of Angel Investors                             1
Name: Investors Name, Length: 2412, dtype: int64

In [17]:
df["InvestmentnType"].value_counts()

Private Equity                 1356
Seed Funding                   1355
Seed/ Angel Funding              60
Seed / Angel Funding             47
Seed\\nFunding                   30
Debt Funding                     25
Series A                         24
Seed/Angel Funding               23
Series B                         20
Series C                         14
Series D                         12
Angel / Seed Funding              8
Seed Round                        7
Pre-Series A                      4
Private Equity Round              4
Seed                              4
Seed / Angle Funding              3
pre-Series A                      2
Venture Round                     2
Equity                            2
Corporate Round                   2
Series E                          2
Series F                          2
Private                           1
Debt-Funding                      1
Term Loan                         1
Seed funding                      1
PrivateEquity                     1
Angel Funding                     1
Private\\nEquity                  1
Private Funding                   1
Equity Based Funding              1
Crowd funding                     1
Series B (Extension)              1
Mezzanine                         1
Structured Debt                   1
Venture - Series Unknown          1
Pre Series A                      1
Debt                              1
Pre-series A                      1
Series G                          1
Series H                          1
Venture                           1
Funding Round                     1
Maiden Round                      1
pre-series A                      1
Seed Funding Round                1
Single Venture                    1
Angel                             1
Series J                          1
Angel Round                       1
Bridge Round                      1
Debt and Preference capital       1
Inhouse Funding                   1
Crowd Funding                     1
Name: InvestmentnType, dtype: int64

In [18]:
df.columns

Index(['Sr No', 'Date', 'Startup Name', 'Industry Vertical', 'SubVertical',
       'City  Location', 'Investors Name', 'InvestmentnType', 'Amount in USD',
       'Remarks'],
      dtype='object')

In [19]:
df["Amount in USD"].value_counts()

10,00,000    165
5,00,000     108
20,00,000     69
50,00,000     66
30,00,000     66
            ...
82,50,000      1
8,72,000       1
5,70,000       1
5,37,000       1
32,50,000      1
Name: Amount in USD, Length: 471, dtype: int64

In [20]:
df["Remarks"].value_counts()

Series A                             175
Series B                              63
Pre-Series A                          37
Series C                              28
Series D                              11
                                    ...
Pre Series-A                           1
QPrize Contest Winners                 1
pre-series A                           1
Personal Investment                    1
Strategic Funding, Minority stake      1
Name: Remarks, Length: 72, dtype: int64