In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
pip install sidetable

Collecting sidetable
  Downloading sidetable-0.9.1-py3-none-any.whl (19 kB)
Requirement already satisfied: pandas>=1.0 in c:\users\dell\anaconda3\lib\site-packages (from sidetable) (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=1.0->sidetable) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=1.0->sidetable) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=1.0->sidetable) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.0->sidetable) (1.16.0)
Installing collected packages: sidetable
Successfully installed sidetable-0.9.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import sidetable as stb

In [5]:
df = pd.read_excel("Superstore.xls")

In [6]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2020-138688,2020-06-12,2020-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [10]:
df["Sub-Category"].value_counts()

Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        115
Copiers          68
Name: Sub-Category, dtype: int64

In [11]:
df["Sub-Category"].value_counts(normalize=True)

Binders        0.152391
Paper          0.137082
Furnishings    0.095757
Phones         0.088953
Storage        0.084651
Art            0.079648
Accessories    0.077547
Chairs         0.061737
Appliances     0.046628
Labels         0.036422
Tables         0.031919
Envelopes      0.025415
Bookcases      0.022814
Fasteners      0.021713
Supplies       0.019011
Machines       0.011507
Copiers        0.006804
Name: Sub-Category, dtype: float64

In [12]:
df.stb.freq(['Sub-Category'])

   Sub-Category  count    percent  cumulative_count  cumulative_percent
0       Binders   1523  15.239143              1523           15.239143
1         Paper   1370  13.708225              2893           28.947368
2   Furnishings    957   9.575745              3850           38.523114
3        Phones    889   8.895337              4739           47.418451
4       Storage    846   8.465079              5585           55.883530
5           Art    796   7.964779              6381           63.848309
6   Accessories    775   7.754653              7156           71.602962
7        Chairs    617   6.173704              7773           77.776666
8    Appliances    466   4.662798              8239           82.439464
9        Labels    364   3.642185              8603           86.081649
10       Tables    319   3.191915              8922           89.273564
11    Envelopes    254   2.541525              9176           91.815089
12    Bookcases    228   2.281369              9404           94.096458
13    Fasteners    217   2.171303              9621           96.267761
14     Supplies    190   1.901141              9811           98.168901
15     Machines    115   1.150690              9926           99.319592
16      Copiers     68   0.680408              9994          100.000000

In [25]:
df.stb.freq(['Sub-Category'],thresh=0.3,other_label='Other Sub-Category')

         Sub-Category  count  percent  cumulative_count  cumulative_percent
0  Other Sub-Category   9994    100.0              9994               100.0

In [26]:
df["Year"] = df["Order Date"].dt.year

In [29]:
df.stb.freq(['Sub-Category','Year'])

   Sub-Category  Year  count   percent  cumulative_count  cumulative_percent
0       Binders  2021    500  5.003002               500            5.003002
1         Paper  2021    459  4.592756               959            9.595757
2       Binders  2020    415  4.152491              1374           13.748249
3         Paper  2020    366  3.662197              1740           17.410446
4       Binders  2019    318  3.181909              2058           20.592355
..          ...   ...    ...       ...               ...                 ...
63     Machines  2019     24  0.240144              9926           99.319592
64      Copiers  2021     22  0.220132              9948           99.539724
65      Copiers  2019     20  0.200120              9968           99.739844
66      Copiers  2020     16  0.160096              9984           99.899940
67      Copiers  2018     10  0.100060              9994          100.000000

[68 rows x 6 columns]

In [31]:
df[df["Year"]==2019].stb.freq(['Sub-Category'])

   Sub-Category  count    percent  cumulative_count  cumulative_percent
0       Binders    318  15.128449               318           15.128449
1         Paper    272  12.940057               590           28.068506
2   Furnishings    200   9.514748               790           37.583254
3        Phones    199   9.467174               989           47.050428
4       Storage    171   8.135109              1160           55.185538
5           Art    167   7.944814              1327           63.130352
6   Accessories    166   7.897241              1493           71.027593
7        Chairs    133   6.327307              1626           77.354900
8    Appliances     94   4.471931              1720           81.826832
9        Labels     77   3.663178              1797           85.490010
10    Envelopes     67   3.187441              1864           88.677450
11    Bookcases     61   2.901998              1925           91.579448
12       Tables     58   2.759277              1983           94.338725
13    Fasteners     44   2.093245              2027           96.431970
14     Supplies     31   1.474786              2058           97.906755
15     Machines     24   1.141770              2082           99.048525
16      Copiers     20   0.951475              2102          100.000000

In [32]:
df.stb.freq(['Sub-Category'],value='Sales')

   Sub-Category        Sales    percent  cumulative_Sales  cumulative_percent
0        Phones  330007.0540  14.365616      3.300071e+05           14.365616
1        Chairs  328449.1030  14.297796      6.584562e+05           28.663412
2       Storage  223843.6080   9.744190      8.822998e+05           38.407602
3        Tables  206965.5320   9.009466      1.089265e+06           47.417068
4       Binders  203412.7330   8.854808      1.292678e+06           56.271876
5      Machines  189238.6310   8.237792      1.481917e+06           64.509669
6   Accessories  167380.3180   7.286273      1.649297e+06           71.795941
7       Copiers  149528.0300   6.509140      1.798825e+06           78.305082
8     Bookcases  114879.9963   5.000869      1.913705e+06           83.305950
9    Appliances  107532.1610   4.681008      2.021237e+06           87.986958
10  Furnishings   91705.1640   3.992039      2.112942e+06           91.978998
11        Paper   78479.2060   3.416297      2.191422e+06           95.395295
12     Supplies   46673.5380   2.031757      2.238095e+06           97.427052
13          Art   27118.7920   1.180515      2.265214e+06           98.607567
14    Envelopes   16476.4020   0.717238      2.281690e+06           99.324805
15       Labels   12486.3120   0.543545      2.294177e+06           99.868349
16    Fasteners    3024.2800   0.131651      2.297201e+06          100.000000

In [33]:
df.stb.freq(['Sub-Category'],value='Sales',style=True)